.inputBox{
    padding-left: 15px;
    width: 100%;
    height: 40px;
    background-color:rgba(255, 255, 255, 0.104);
    outline: none;
    border: 1.5px solid rgba(12, 12, 12, 0.254);
    border-radius: 20px;
}

.inputBox::placeholder{
    color: rgb(187, 187, 187);
    padding-left: 0px;
}

.inputBox[type=text]{
    color: rgb(225, 224, 224);
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.618);
    font-size: 1rem;
    font-family: 'Poppins', serif;
    
}




